# Fundamentals of Python Programming

### Python Identifiers

A name in python program is called as identifier.It can be a variable name or class name or method name etc <br>
There are some rules regarding identifiers in python and they are like : <br>
1.) Only allowed symbols are a-z,A-Z,0 to 9,_ (underscore) <br>
2.) You cannot start an identifier with a digit <br>
3.) Python is case sensitive language. <br>
4.) There is no limit on the length of the variable in python.(not recommended t otake long identifiers) <br>
5.) Keywords can not be used a identifiers

In [1]:
rashu = 10 #valid

In [2]:
ra&hu = 10 #invalid

SyntaxError: can't assign to operator (<ipython-input-2-e3b13ea48152>, line 1)

In [3]:
abc123 = 20 #valid

In [4]:
123abc = 55 #invalid

SyntaxError: invalid syntax (<ipython-input-4-e5c61bbbe08e>, line 1)

In [5]:
abc = 10

In [6]:
Abc = 20

In [8]:
ABC = 30

In [9]:
print(abc,Abc,ABC)

10 20 30

In [10]:
if = 10 # invalid as if is a keyword

SyntaxError: invalid syntax (<ipython-input-10-8eafb90ec5c0>, line 1)

### Story of types of variables

In [11]:
x = 10 # means x is a normal variable

In [12]:
_x = 10 # menas x is a protected variable

In [13]:
__x = 10 # means x is a private variable

In [14]:
__x__ = 10 # means x is a magic variable

All the above are language specific variables

## Reserved Words (Keywords)

There are 33 keywords in python and they represent some meaning or functionality and they are : <br>
True,False,None <br>
and , or , not , is <br>
if , elif , else <br>
while , for , break , continue , return , in , yield <br>
try , except , finally , raise , assert <br>
import , from , as , class , def , pass <br>
global , nonlocal , lambda , del , with <br>

In [16]:
true = 10 #valid

In [17]:
True = 10 #invalid

SyntaxError: can't assign to keyword (<ipython-input-17-9268142eb66c>, line 1)

In [18]:
false =20 #valid

In [19]:
False = 20 # invalid

SyntaxError: can't assign to keyword (<ipython-input-19-c369f5a312e2>, line 1)

Switch , do-while concepts are not there in python also names like int,float etc are not the keywords in python

In [22]:
import keyword
print("Following are all the keywords in python")
for i in keyword.kwlist:
    print(i)
print ("Total number of keywords are " , len(keyword.kwlist))

Following are all the keywords in python
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield
Total number of keywords are  35

## Data Types

It tells us the type of data stored in our variables. <br>
Python is dynamically typed programming language in this the type is detected automatically

In [23]:
a = 10
print(type(a))
b  = 10.6
print(type(b))
c = True
print(type(c))

<class 'int'>
<class 'float'>
<class 'bool'>

Availiable data types in python are : int,float,complex,bool,str,list,tuple,set,frozenset,dict,bytes,bytearray,range,None.(14 data types in python)

##### Everything in python is an object

In [25]:
a = 10 # means a is an object only pointing to value 10

In [26]:
id(a) # we get the address of a

140704548361312

We do not have long data type in Python 3 it was only in Python 2

In [27]:
a = 178347685476887453287438793489489489432

In [28]:
type(a)

int

Binary vs Decimal representation

In [29]:
a = 1111 #default is decimal representation
a

1111

In [30]:
a = 0B1111 #using 0B in the start gives us the Binary Representation
a

15

In [31]:
a = 0b1111 #using 0b in the start also gives us the Binary Representation
a

15

In [32]:
#octal form 
a = 0o123
a

83

In [33]:
a = 0O123
a

83

Keep in mind that in octal numbers representation we can not use any number out of the range 0-7

In [35]:
#Hexadecimal form
a = 0x10
a

16

In [36]:
a = 0X01
a

1

In [37]:
a = 0xFace
a

64206

Keep in mind that in hexadecimal the digits allowed are from 0 to 9,A-F,a-f, you can use uppercase or lower case it does not matter here.

#### Python always gives output always in decimal form by default

Now in order to convert the number returned by python in decimal form to any other form we use base conversion functions like this :

In [38]:
a = bin(15) # bin() function gives the binary representation
a

'0b1111'

In [39]:
a = bin(0o123)
a

'0b1010011'

In [40]:
a = oct(100) # oct() function gives the octal representation
a

'0o144'

In [41]:
a = oct(0b1111010011)
a

'0o1723'

In [42]:
a = hex(1000)
a

'0x3e8'

In [43]:
a = hex(0b1101000101)
a

'0x345'

##### Float Data Type

In [44]:
a = 1.345
type(a)

float

## Float type values can be represented only in the decimal form and not in binary or octal or hexadecimal form.

In [45]:
f = 1.2e3 #exponentail form or scientific notation form -> 1.2 * 10^3
f

1200.0

In [46]:
f = 1.2E3
f

1200.0

#### Complex data type

In [47]:
x = 10 + 7j
type(x)

complex

In [48]:
x = 10 + 7i
type(x)

SyntaxError: invalid syntax (<ipython-input-48-6ed1215710ae>, line 1)

In [49]:
x = 10 + 7j
print(x.real)

10.0

In [52]:
x = 10 + 7j
print(x.imag)

7.0

Real part can be represented in any form but imaginary part can be specified in decimal form only

#### Boolean Data Type

In [1]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

Internally True means 1 and False is represented as 0

In [2]:
print(True + True)
print(True - True)
print(True + False)
print(True * False)

2
0
1
0

#### String Data Type

In [3]:
#both single and double quotes work perfectly for strings
a = 'Rashu'
b = "Rashu"
print(a)
print(b)

Rashu
Rashu

In [4]:
type('a') # In python there is no char data type

str

In [5]:
# we can use triple quotes also in python for strings
a = """Rashu"""
a

'Rashu'

In [6]:
type(a)

str

In [7]:
#multiline string literals are not su[[ported by single or double quotes but are applied with triple quotes
a = "Python 
    is a good
     language"

SyntaxError: EOL while scanning string literal (<ipython-input-7-b403ea42e299>, line 1)

In [8]:
a = 'Python 
    is a good
     language'

SyntaxError: EOL while scanning string literal (<ipython-input-8-4bc3ad7aefa5>, line 1)

In [10]:
a = """Python 
    is a good
     language"""
a

'Python \n    is a good\n     language'

In [11]:
#suppose we want to print something with double quotes and triple quotes then we will need to use triple quotes

a = "Hey 'hi' how are you"
print(a)
b = 'Hey "hi" how are you'
print(b)
c = """hey hi 'how' are "you" """
print(c)

Hey 'hi' how are you
Hey "hi" how are you
hey hi 'how' are "you"

We use triple quotes also to define the documentation Strings

Index speciality is also there in the strings in python.

In [12]:
s = "Rashu"
s[0]

'R'

In [13]:
s[4]

'u'

In [14]:
s[10]

IndexError: string index out of range

In [15]:
s[-1]

'u'

In [16]:
s[-3]

's'

#### Python provides support for both positive and negative indexes. Keep in mind that negative indexes start the characters from the end.

There is concept of slicing also in python for strings

In [17]:
#Slice operator in python --> s[begin index : end] --> returns a substring from begin index to end - 1 index.

s = "Hello to the world of Python"
s[3:9]

'lo to '

In [18]:
s[:8] # will start from the 0th index

'Hello to'

In [19]:
s[3:] # will go till the end

'lo to the world of Python'

In [20]:
s[2:2000] # you will not get index error in slice operator

'llo to the world of Python'

In [22]:
s[10:3] # no slicing possible here

''

In [24]:
a = "rashu"
out = a[0].upper() + a[1:]
out

'Rashu'

In [26]:
a = "rashu"
out = a[:len(a) - 1] + a[-1].upper() 
out

'rashU'

In [27]:
a = "rashu"
out = a[0].upper() + a[1:len(a) - 1] + a[-1].upper() 
out

'RashU'

### + Operator for String

In [2]:
s = "Hello"  + "World" # Both arguments must be string type only always.
s

'HelloWorld'

In [3]:
s = "Hello" + 10

TypeError: can only concatenate str (not "int") to str

### * Operator

In [6]:
s = "Hello " * 3 #perfectly acceptable in python
s

'Hello Hello Hello '

In [7]:
s = 3 * "Hello" 
s

'HelloHelloHello'

In [9]:
s = "Hello" * "World" # when ever you are using * operator remember that one argument must be string and other must be integer always.
s

TypeError: can't multiply sequence by non-int of type 'str'